.to-be-known {
        background-color:LightGreen;
}

.ignored {
        background-color:Salmon;
}

.not-found {
        background-color:LightGrey;
}

.normal {}


table, th, td {
    border: 1px solid black;
}

td.stat {
        text-align: right;
}
