.to-be-known {
        background-color:LightGreen;
}

.ignored {
        background-color:Salmon;
}

.not-found {
        background-color:LightGrey;
}

.normal {}


table, th {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
        border: 1px solid black;
        padding: 10px
}

td.stat {
        text-align: right;
}
